<tr>
  <td class="col-md-4"><%= schedule.name %></td>
  <td class="col-md-2"><%= schedule.location.name %></td>
  <td class="col-md-1"><%= schedule.start_date %></td>
  <td class="col-md-1"><%= schedule.end_date %></td>
  <td class="col-md-2">
  <div class="btn-group" role="group">
    <%= button_to "View", schedule_path(schedule.id), method: :get,
    form: {style: "display:inline-block;"}, class: "btn btn-default btn-primary" %>
    <%= button_to "Edit", edit_schedule_path(schedule.slug), remote: true, method: :get,
      form: {style: "display:inline-block;"}, class: "btn btn-default btn-warning" %>
    <%= button_to "Delete", schedule_path(schedule.id), method: :delete,
      data: {
        confirm: "Are you sure you want to delete #{schedule.name}?" },
        form: {style: "display:inline-block;"}, class: "btn btn-default btn-danger" %>
  </div>
  </td>
</tr>