</br>
</br>
</br>
<p>Schedules index!!</p>

<% if @schedules.length == 0 %>
  <p>You have no schedules!</p>
<% else %>
  <% @schedules.each do |schedule| %>
    <ul><%= schedule.inspect %></ul>
  <% end %>
  <br></br>
<% end %>

</br>
<div class="container">
  <%= form_for :schedule, url: { action: "create" } do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    </br>
    <%= f.label "Location" %>
    <%= f.collection_select(:location_id, @locations, :id, :name) %>
    </br>
    <%= f.label "Start" %>
    <%= f.date_select :start_date %>
    </br>
    <%= f.label "End" %>
    <%= f.date_select :end_date %>
    </br>
    <%= f.submit "Create Schedule" %>
  <% end %>
</div>
</br>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
      </tr>
      <% n = 1 %>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= n %></td>
          <td><%= schedule.name %></td>
          <td><%= schedule.location.name %></td>
          <td><%= schedule.start_date %></td>
          <td><%= schedule.end_date %></td>
          <td>
          <div class="btn-group" role="group">
            <%= button_to "View", schedule_path(schedule.id), method: :get,
            form: {style: "display:inline-block;"}, class: "btn btn-default" %>
            <%= button_to "Delete", schedule_path(schedule.id), method: :delete,
              data: {
                confirm: "Are you sure you want to delete #{schedule.name}?" },
                form: {style: "display:inline-block;"}, class: "btn btn-default" %>
          </div>
          </td>
        </tr>
        <% n += 1 %>
      <% end %>
    </table>
  </div>
</div>